<div class="card">
  <div class="card-header">
    {{!-- <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4> --}}
    <p>Posted by {{username}}</p>
  </div>
  <p class="card-body">Title {{title}}</p>
  <p class="card-body">Content {{content}}</p>
  {{!-- <form id="replyForm">
    <input id="replyInput" type="text" />
    <button id="replyComments" type="submit">send</button>
  </form> --}}
</div>